body{
    background-color: #e4dec7;
    font-family: Arial;
}
.center {
    text-align:center;
}

.fonte25 {
    font-size:25px;
}
.fonte18 {
    font-size:18px;
}
.fonte21 {
    font-size:21px;
}
mark{
    background-color: #b6bdff;
    color: black;
}